2.6/zRntCar.TestProject/Connected Services/paymentproduction/PaymentWebService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CardBinInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardOrgranizationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardProgram" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBusinessCard" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardBinInfo" nillable="true" type="tns:CardBinInfo" />
</xs:schema>