2.6/RntCar.IntegrationHelper/Connected Services/HGSService/HgsWebUtilServices21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://intf.service.hgspayments.payments.hmn.ykb.com/" xmlns:ns1="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://intf.service.hgspayments.payments.hmn.ykb.com/" version="1.0">
  <xsd:import schemaLocation="HgsWebUtilServices.xsd1.xsd" namespace="http://tempuri.org/" />
  <xsd:element name="cancelProduct" type="tns:cancelProduct" />
  <xsd:element name="cancelProductResponse" type="tns:cancelProductResponse" />
  <xsd:element name="getHgsTransactionList" type="tns:getHgsTransactionList" />
  <xsd:element name="getHgsTransactionListResponse" type="tns:getHgsTransactionListResponse" />
  <xsd:element name="getHgsTransitList" type="tns:getHgsTransitList" />
  <xsd:element name="getHgsTransitListResponse" type="tns:getHgsTransitListResponse" />
  <xsd:element name="saleProduct" type="tns:saleProduct" />
  <xsd:element name="saleProductResponse" type="tns:saleProductResponse" />
  <xsd:element name="updateDirectiveAmounts" type="tns:updateDirectiveAmounts" />
  <xsd:element name="updateDirectiveAmountsResponse" type="tns:updateDirectiveAmountsResponse" />
  <xsd:element name="updateVehicleInfo" type="tns:updateVehicleInfo" />
  <xsd:element name="updateVehicleInfoResponse" type="tns:updateVehicleInfoResponse" />
  <xsd:complexType name="getHgsTransitList">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:requestHgsTransitListWEB" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requestHgsTransitListWEB">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:baseRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="finishDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="plateNo" type="xsd:string" />
          <xsd:element minOccurs="0" name="productId" type="xsd:string" />
          <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="baseRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:coreDTO">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="coreDTO">
    <xsd:sequence />
  </xsd:complexType>
  <xsd:complexType name="getHgsTransitListResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:responseHgsTransitListWEB" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="responseHgsTransitListWEB">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:baseResponseHgsWeb">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="transits" nillable="true" type="ns1:Transit" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="baseResponseHgsWeb">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:baseResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="errorCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="errorInfo" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="baseResponse" abstract="true">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:coreDTO">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="parameters">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="entry">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="key" type="xsd:string" />
                      <xsd:element minOccurs="0" name="value" type="xsd:anyType" />
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="text" type="xsd:string" />
          <xsd:element minOccurs="0" name="type" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="cancelProduct">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:requestCancelProductWEB" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requestCancelProductWEB">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:baseRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="cancelReason" type="xsd:int" />
          <xsd:element minOccurs="0" name="productId" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="cancelProductResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:baseResponseHgsWeb" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateVehicleInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:requestUpdateVehicleInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requestUpdateVehicleInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:baseRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="licenseNo" type="xsd:string" />
          <xsd:element minOccurs="0" name="plateNo" type="xsd:string" />
          <xsd:element minOccurs="0" name="productId" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="updateVehicleInfoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:baseResponseHgsWeb" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getHgsTransactionList">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:requestHgsTransactionListWEB" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requestHgsTransactionListWEB">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:baseRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="finishDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="plateNo" type="xsd:string" />
          <xsd:element minOccurs="0" name="productId" type="xsd:string" />
          <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="getHgsTransactionListResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:responseHgsTransactionListWEB" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="responseHgsTransactionListWEB">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:baseResponseHgsWeb">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="transactions" nillable="true" type="ns1:Transaction" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="saleProduct">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:requestSaleProductWEB" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requestSaleProductWEB">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:baseRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="directiveNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="licenseNo" type="xsd:string" />
          <xsd:element minOccurs="0" name="plateNo" type="xsd:string" />
          <xsd:element minOccurs="0" name="productId" type="xsd:string" />
          <xsd:element minOccurs="0" name="productType" type="xsd:string" />
          <xsd:element minOccurs="0" name="vehicleClass" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="saleProductResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:baseResponseHgsWeb" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateDirectiveAmounts">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:requestUpdateDirectiveAmounts" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requestUpdateDirectiveAmounts">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:baseRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="accountNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="creditCardNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="loadingAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="loadingLowerLimit" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="plateNo" type="xsd:string" />
          <xsd:element minOccurs="0" name="productId" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="updateDirectiveAmountsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:baseResponseHgsWeb" />
    </xsd:sequence>
  </xsd:complexType>
</xs:schema>