2.6/zRntCar.TestProject/Connected Services/PaymentService/PaymentWebService85.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.IntegrationModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetahsilatGold.Domain.Model.IntegrationModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDynamicField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DynamicField" nillable="true" type="tns:DynamicField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDynamicField" nillable="true" type="tns:ArrayOfDynamicField" />
  <xs:complexType name="DynamicField">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntegrationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntegrationValues" nillable="true" type="tns:ArrayOfIntegrationValue" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DynamicField" nillable="true" type="tns:DynamicField" />
  <xs:complexType name="ArrayOfIntegrationValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IntegrationValue" nillable="true" type="tns:IntegrationValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIntegrationValue" nillable="true" type="tns:ArrayOfIntegrationValue" />
  <xs:complexType name="IntegrationValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntegrationValue" nillable="true" type="tns:IntegrationValue" />
  <xs:complexType name="ArrayOfCustomDynamicData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomDynamicData" nillable="true" type="tns:CustomDynamicData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomDynamicData" nillable="true" type="tns:ArrayOfCustomDynamicData" />
  <xs:complexType name="CustomDynamicData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntegrationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomDynamicData" nillable="true" type="tns:CustomDynamicData" />
</xs:schema>